@font-face {
  font-family: "bold";
  src: url("assets/font/IRANSansWeb\(FaNum\)_Bold.eot") format("eot"),
    url("assets/font/IRANSansWeb\(FaNum\)_Bold.woff") format("woff"),
    url("assets/font/IRANSansWeb\(FaNum\)_Bold.woff2") format("woff2");
}
@font-face {
  font-family: "light";
  src: url("assets/font/IRANSansWeb\(FaNum\)_Light.eot") format("eot"),
    url("assets/font/IRANSansWeb\(FaNum\)_Light.woff") format("woff"),
    url("assets/font/IRANSansWeb\(FaNum\)_Light.woff2") format("woff2");
}
@font-face {
  font-family: "medium";
  src: url("assets/font/IRANSansWeb\(FaNum\)_Medium.eot") format("eot"),
    url("assets/font/IRANSansWeb\(FaNum\)_Medium.woff") format("woff"),
    url("assets/font/IRANSansWeb\(FaNum\)_Medium.woff2") format("woff2");
}

/*     init     */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "medium";
}
body {
  background-color: rgb(241, 237, 237);
  position: relative;
}

/*    HEADERS    */
header {
  background-color: rgb(233, 219, 255);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 60%;
  margin: 0 auto;
}
.hambergur {
  font-size: 2.3rem;
  cursor: pointer;
  color: rgb(204, 102, 255);
}
.fa-bars {
}
.title {
  font-size: 2.2rem;
  font-family: "bold";
}
.shooping {
  position: relative;
}
.shooping span {
  position: absolute;
  font-size: 2.8rem;
  top: -2.2rem;
  left: 2rem;
  color: rgb(241, 42, 42);
}
.fa-cart-plus {
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(204, 102, 255);
}

/*-------END HEADER-------*/

/*    products style     */

.products {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 1rem;
}
.products-title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 10rem;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}
.product {
  width: 30rem;
  background-color: #fff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-img {
  width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.p__img {
  width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.products-info {
  padding: 2rem 4rem;
  display: flex;
  gap: 3rem;
  font-family: "medium";
  font-size: 1.8rem;
  width: 100%;
}
.product-price {
  color: rgb(151, 87, 255);
}
.product-title {
  width: 100%;
  text-align: center;
}
.add-btn {
  border: none;
  cursor: pointer;
  background-color: rgb(241, 237, 237);
  color: rgb(151, 87, 255);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 0.7rem 2.5rem;
  border-radius: 0.7rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(237, 235, 242);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: none;
}

.modal {
  position: absolute;
  z-index: 500;
  width: 60rem;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hidden {
  display: none;
}
.top_title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}
.modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.modal-img {
  width: 30%;
}
.modal__img {
  width: 100%;
}
.modal__price {
  font-size: 2rem;
  color: rgb(30, 29, 29);
}
.cehvron {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fa-chevron-up {
  cursor: pointer;
  color: rgb(126, 38, 250);
}
.cehvron,
.fa-trash-can {
  font-size: 2rem;
}
.fa-chevron-down {
  cursor: pointer;
  color: rgb(252, 31, 31);
}
.fa-trash-can {
  color: rgb(31, 30, 30);
}
.bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.btns {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.btns button {
  display: inline-block;
  outline: none;
  padding: 0.7rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
}
.clear {
  background-color: #fff;
  border: 1px solid rgb(151, 87, 255);
}
.confirm {
  background-color: #bcd7ff;
  color: #6d28d9;
  border: none;
}
.total-price {
  font-size: 2rem;
  color: rgb(30, 29, 29);
}
.total-price span {
  font-weight: 600;
}
